.profile-block-hidden
{
	display: none;
}

.profile-block-shown
{
	display:block;
}

.profile-table
{
	width: 100%;
}

.profile-link
{
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: bold;
}

.profile-table td {
	vertical-align: top;
	width:50%;
}

div.bx-auth-profile input.bx-auth-input {vertical-align:middle;}
div.bx-auth-profile span.bx-auth-secure {background-color:#FFFAE3; border:1px solid #DEDBC8; padding:2px; display:inline-block; vertical-align:middle;}
div.bx-auth-profile div.bx-auth-secure-icon {background-image:url(images/sec.png); background-repeat:no-repeat; background-position:center; width:19px; height:18px;}
div.bx-auth-profile div.bx-auth-secure-unlock {background-image:url(images/sec-unlocked.png);}

.profile-table td {text-align: left !important; padding: 10px 0;}
.profile-table td input[type=password],
.profile-table td input[type=email],
.profile-table td input[type=text],
.profile-table td select {width: 100%;
    height: 36px;
    background: #f4f4f4;
    font-family: 'Bender';
    font-style: italic;
    font-size: 16px;
    color: #050505;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 0 25px;
    border: 1px solid #ececec;
}

.profile-table td textarea {width: 100%;
    height: 150px;
    background: #f4f4f4;
    font-family: 'Bender';
    font-style: italic;
    font-size: 16px;
    color: #050505;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 10px 25px;
    border: 1px solid #ececec;
    resize: vertical;
}
.profile-header {background: #f53919; color: #fff; padding: 5px 15px !important; font-style:italic;}

.bx-auth-profile [type="submit"] {
    -webkit-transform: skewX(-15deg);
    -ms-transform: skewX(-15deg);
    transform: skewX(-15deg);
    background: #db4220;
    background: -webkit-linear-gradient(top, #db4220 0%, #d33c22 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#db4220), to(#d33c22));
    background: linear-gradient(to bottom, #db4220 0%, #d33c22 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db4220', endColorstr='#d33c22',GradientType=0 );
    border-radius: 12px 12px 12px 0;
    color: #fff;
    height: 37px;
    font-family: "Bender";
    font-weight: bold;
    font-style: italic;
    font-size: 16px;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    margin-top: 10px;
}
