
.wbl-steps-wrapper {background: #f4f4f4; display: flex; align-content: flex-start; justify-content: flex-start; flex-direction: row;}
.wbl-steps-wrapper .wbl-step-layer {width: 100%; text-align: center; padding: 20px 0; border-right: 1px solid #f7f7f7;}
.wbl-steps-wrapper .wbl-step-layer:last-child {border-right: none;}
.wbl-steps-wrapper .wbl-step-layer.active {background: #ffffff; border-bottom: 1px solid #ececec;}
.wbl-steps-wrapper .wbl-step-num {font-family: "Bender"; font-weight: bold; font-style: italic; font-size: 18px; color: #f83c18; line-height: 1; margin-bottom: 7px;}
.wbl-steps-wrapper .wbl-step-text {font-family: "Bender"; font-style: italic; font-size: 18px; color: #414142; line-height: 1;}