#back-top {display: none;}

[data-wbl-sale-order-ajax-form] .wbl-white-bg,
.wbl-end .wbl-white-bg {background: #ffffff;}
.wbl-end {font-family: "Bender"; font-size: 18px; padding: 20px;}

[data-wbl-sale-order-ajax-form] .wbl-aside-total .wbl-white-bg {padding: 0 30px; float: right;}
[data-wbl-sale-order-ajax-form] .wbl-aside-total .wbl-header {font-size: 30px; font-family: "Bender"; font-style: italic; padding: 50px 30px;position: relative; margin-bottom: 28px; color: #414142; border-bottom: 1px solid #ececec; margin-right: -30px; margin-left: -30px;}
[data-wbl-sale-order-ajax-form] .wbl-aside-total .wbl-list-layer {margin-bottom: 35px;}
[data-wbl-sale-order-ajax-form] .wbl-aside-total .wbl-list-layer .wbl-name {color: #414142; font-size: 16px; float: left; font-family: "Bender"; float: left; max-width: 50%;}
[data-wbl-sale-order-ajax-form] .wbl-aside-total .wbl-list-layer .wbl-val {font-family: "Bender"; font-size: 18px; color: #f73b19; font-weight: bold; float: right; max-width: 50%;}

[data-wbl-sale-order-ajax-form] .main-layer {padding: 0 0 0 30px;}
[data-wbl-sale-order-ajax-form] .main-layer .wbl-steps-wrapper {background: #f4f4f4; display: flex; align-content: flex-start; justify-content: flex-start; flex-direction: row;}
[data-wbl-sale-order-ajax-form] .main-layer .wbl-steps-wrapper .wbl-step-layer {width: 100%; text-align: center; padding: 20px 0; border-right: 1px solid #f7f7f7;}
[data-wbl-sale-order-ajax-form] .main-layer .wbl-steps-wrapper .wbl-step-layer:last-child {border-right: none;}
[data-wbl-sale-order-ajax-form] .main-layer .wbl-steps-wrapper .wbl-step-layer.active {background: #ffffff; border-bottom: 1px solid #ececec;}
[data-wbl-sale-order-ajax-form] .main-layer .wbl-steps-wrapper .wbl-step-num {font-family: "Bender"; font-weight: bold; font-style: italic; font-size: 18px; color: #f83c18; line-height: 1; margin-bottom: 7px;}
[data-wbl-sale-order-ajax-form] .main-layer .wbl-steps-wrapper .wbl-step-text {font-family: "Bender"; font-style: italic; font-size: 18px; color: #414142; line-height: 1;}


[data-wbl-sale-order-ajax-form] .main-layer .wbl-form-footer {background: #f4f4f4; padding: 17px 30px; }
[data-wbl-sale-order-ajax-form] .main-layer .wbl-back {height: 55px; float: left; font-family: "Bender"; font-weight: bold; font-style: italic; font-size: 16px;  color: #414142; background: url('./btn-back.png') 0 50% no-repeat transparent !important; border: none; text-decoration: none !important; display: inline-block; padding-left: 30px; line-height: 55px;}
[data-wbl-sale-order-ajax-form] .main-layer .wbl-next {float: right; display: inline-block; width: 223px; background: url(./btn-next.png) 0 0 no-repeat transparent; border: none; height: 55px; color: #fff; font-family: "Bender"; font-weight: bold; font-style: italic; font-size: 16px; text-align: left; padding-left: 25px;}

[data-wbl-sale-order-ajax-form] .main-layer h3 {font-family: "Bender"; font-weight: bold; font-style: italic; font-size: 18px; color: #414142; margin-bottom: 19px;}
[data-wbl-sale-order-ajax-form] .main-layer h4 {font-family: "Bender"; font-size: 14px; color: #807d7d; margin-bottom: 19px;}
[data-wbl-sale-order-ajax-form] .main-layer h4 .wbl-required {color: #ff1a1a; font-family: "Times New Roman";}
[data-wbl-sale-order-ajax-form] .main-layer .wbl-block {padding: 35px 30px 35px 30px;}
[data-wbl-sale-order-ajax-form] .main-layer .wbl-bottom-border {border-bottom: 1px solid #ececec;}

[data-wbl-sale-order-ajax-form] .main-layer .wbl-select-person {display: flex; justify-content: space-around; align-items: flex-start; flex-direction: row;}

[data-wbl-sale-order-ajax-form] .main-layer .radiobox-layer {width: 100%;}
[data-wbl-sale-order-ajax-form] .main-layer .radiobox-layer input {display: none;}
[data-wbl-sale-order-ajax-form] .main-layer .radiobox-layer label {color: #414142; font-family: 'Bender'; font-size: 16px; line-height: 21px; padding-left: 55px; display: inline-block; min-height: 35px; background: url(./radiobox.png) 0 0 no-repeat transparent; display: inline-flex; align-items: center; justify-content: flex-start; flex-direction: row;}
[data-wbl-sale-order-ajax-form] .main-layer .radiobox-layer input:checked + label {background: url(./radiobox-active.png) 0 0 no-repeat transparent;}

[data-wbl-sale-order-ajax-form] .main-layer .wbl-select-delivery .radiobox-layer { margin-bottom: 25px;}
[data-wbl-sale-order-ajax-form] .main-layer .wbl-select-delivery .radiobox-layer p {font-family: 'Bender';}

[data-wbl-sale-order-ajax-form] .main-layer .wbl-input-row {margin-bottom: 22px; display: flex; justify-content: flex-start; align-items: center; flex-direction: row;}
[data-wbl-sale-order-ajax-form] .main-layer .wbl-input-row .wbl-input-name {width: 130px; padding-right: 15px; font-family: 'Bender'; font-size: 16px; color: #414142;}
[data-wbl-sale-order-ajax-form] .main-layer .wbl-input-row.wbl-error .wbl-input-name {color: #ff1a1a;}
[data-wbl-sale-order-ajax-form] .main-layer .wbl-input-row .wbl-input-name .required {font-size: 16px; color: #f43919; font-family: 'Times New Roman';}
[data-wbl-sale-order-ajax-form] .main-layer .wbl-input-row textarea,
[data-wbl-sale-order-ajax-form] .main-layer .wbl-input-row input {width: 100%; height: 52px; background: #f4f4f4; border: 1px solid #f4f4f4; font-family: 'Bender'; font-style: italic; font-size: 16px; color: #050505; border-radius: 3px;
    -webkit-border-radius: 3px; -moz-border-radius: 3px; padding: 0 25px;}
[data-wbl-sale-order-ajax-form] .main-layer .wbl-input-row textarea {height: auto !important; resize: vertical; padding-top: 12px; padding-bottom: 12px;}
[data-wbl-sale-order-ajax-form] .main-layer .wbl-input-row.wbl-error input,
[data-wbl-sale-order-ajax-form] .main-layer .wbl-input-row.wbl-error textarea {border: 1px solid #ff1a1a;}
[data-wbl-sale-order-ajax-form] .main-layer .wbl-input-row textarea::-webkit-input-placeholder,
[data-wbl-sale-order-ajax-form] .main-layer .wbl-input-row input::-webkit-input-placeholder {color: #b5b5b5;}
[data-wbl-sale-order-ajax-form] .main-layer .wbl-input-row textarea::-moz-placeholder,
[data-wbl-sale-order-ajax-form] .main-layer .wbl-input-row input::-moz-placeholder          {color: #b5b5b5;}
[data-wbl-sale-order-ajax-form] .main-layer .wbl-input-row textarea:-moz-placeholder,
[data-wbl-sale-order-ajax-form] .main-layer .wbl-input-row input:-moz-placeholder           {color: #b5b5b5;}
[data-wbl-sale-order-ajax-form] .main-layer .wbl-input-row textarea:-ms-input-placeholder,
[data-wbl-sale-order-ajax-form] .main-layer .wbl-input-row input:-ms-input-placeholder      {color: #b5b5b5;}

[data-wbl-sale-order-ajax-form] .main-layer .wbl-inputs-error {font-size: 16px; color: #ff1a1a; font-family: 'Bender';}

[data-wbl-sale-order-ajax-form] .wbl-total-mobile .wbl-white-bg {width: 100%; margin-bottom: 30px;}
[data-wbl-sale-order-ajax-form] .wbl-total-mobile .wbl-list-wrap .wbl-list-layer {width: calc(50% - 30px); float: left; background: url(./dot.png) 0 14px repeat-x transparent;}
[data-wbl-sale-order-ajax-form] .wbl-total-mobile .wbl-list-wrap .wbl-list-layer:nth-child(odd) {margin-right: 30px;}
[data-wbl-sale-order-ajax-form] .wbl-total-mobile .wbl-list-wrap .wbl-list-layer:nth-child(even) {margin-left: 30px;}
[data-wbl-sale-order-ajax-form] .wbl-total-mobile .wbl-list-layer .wbl-name {background: #fff; padding-right: 10px;}
[data-wbl-sale-order-ajax-form] .wbl-total-mobile .wbl-list-layer .wbl-val {background: #fff; padding-left: 10px;}

@media (max-width: 991px) and (min-width: 768px){
    [data-wbl-sale-order-ajax-form] .main-layer {padding: 0 30px;}
}
@media (max-width: 480px) and (min-width: 320px){
    [data-wbl-sale-order-ajax-form] .wbl-total-mobile .wbl-list-wrap .wbl-list-layer {width: 100%; float: none; margin-right: 0 !important; margin-left: 0 !important; margin-bottom: 20px !important; background: transparent !important;}
    [data-wbl-sale-order-ajax-form] .wbl-total-mobile .wbl-list-layer .wbl-name {width: 100%; float: none; max-width: 100%; padding: 0;}
    [data-wbl-sale-order-ajax-form] .wbl-total-mobile .wbl-list-layer .wbl-val {width: 100%; float: none; max-width: 100%; padding: 0;}

    [data-wbl-sale-order-ajax-form] .main-layer .wbl-steps-wrapper .wbl-step-layer {display: none;}
    [data-wbl-sale-order-ajax-form] .main-layer .wbl-steps-wrapper .wbl-step-layer.active {display: block;}

    [data-wbl-sale-order-ajax-form] .main-layer .wbl-select-person {display: block;}
    [data-wbl-sale-order-ajax-form] .main-layer .radiobox-layer {margin-bottom: 20px;}

    [data-wbl-sale-order-ajax-form] .main-layer .wbl-input-row {display: block;}
    [data-wbl-sale-order-ajax-form] .main-layer .wbl-input-row .wbl-input-name {margin-bottom: 10px; width: 100%; float: none;}

    [data-wbl-sale-order-ajax-form] .main-layer .wbl-back {float: none;}
    [data-wbl-sale-order-ajax-form] .main-layer .wbl-next {float: none;}
    [data-wbl-sale-order-ajax-form] .main-layer .wbl-form-footer {text-align: center;}
}

[data-wbl-sale-order-ajax-form] .wbl-payment-btn {display: inline-block; width: 223px; background: url(./btn-next.png) 0 0 no-repeat transparent; border: none; height: 55px; color: #fff; font-family: "Bender"; font-weight: bold; font-style: italic; font-size: 16px; text-align: left; padding-left: 25px; line-height: 55px;}

#wwweee { font-family: 'Bender'; font-size: 14px;}

.wbl-ya-map-button {display: inline-block;
    width: 223px;
    background: url(/local/components/weblooter/wbl-sale-order-ajax/templates/.default/./btn-next.png) 0 0 no-repeat transparent;
    border: none;
    height: 55px;
    color: #fff;
    font-family: "Bender";
    font-weight: bold;
    font-style: italic;
    font-size: 16px;
    text-align: center;
    line-height: 55px;
    margin-top: 10px;
}

.select2-container--default .select2-selection--single {border: none !important;}
.select2-container--default .select2-selection--single .select2-selection__arrow {display: none !important;}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    width: 100% !important;
    height: 52px !important;
    background: #f4f4f4 !important;
    border: 1px solid #f4f4f4 !important;
    font-family: 'Bender' !important;
    font-style: italic !important;
    font-size: 16px !important;
    color: #050505 !important;
    border-radius: 3px !important;
    -webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    padding: 0 25px !important;
    line-height: 52px !important;
}
.select2-container--default .select2-selection--single .select2-selection__placeholder {line-height: 52px !important;}
.select2-container--default .select2-selection--single {height: 52px !important;}