.paysystem-yandex-form [name="BuyButton"] {
    background: #f53919;
    border-radius: 9px;
    transform: skewX(-12deg);
    font-size: 19px;
    padding: 16px 26px;
    font-family: "Bender", Arial, Verdana, sans-serif;
    font-weight: 700;
    font-style: italic;
    color: #fff;
    margin: 15px 0;
}