.header__nav .header__nav-inner {
	-webkit-transform: skewX(0deg);
	-ms-transform: skewX(0deg);
	transform: skewX(0deg);
}
.header__nav-list-item .header__nav-link:before {
	-webkit-transform: skewX(0deg);
	-ms-transform: skewX(0deg);
	transform: skewX(0deg);
}
.header .header__nav {
	margin: 0;
}
.header__nav .header__nav-submenu {
	margin-left: 0;
	width: 100%;
}
.header_icon_soc {
	display: flex;
	float: left;
	height: 34px;
	justify-content: space-between;
	align-items: center;
	padding-right: 15px;
}
.header_icon_soc i{
	font-size: 23px;
	color: #3a3c40;
	padding: 0 10px;
}
.topbar__inner .topbar__right {
	display: flex;
	justify-content: space-between;
	align-items: center;
	float: right;
}

[id^='CatalogSectionBasket'] .popup-window-buttons {
    font-family: "Bender", Arial, Verdana, sans-serif;
    font-size: 16px;
    padding: 15px 20px;
    font-weight: 700;
    font-style: italic;
    color: #fff;
    border-radius: 12px 12px 12px 0;
    -webkit-transform: skewX(-15deg);
    -ms-transform: skewX(-15deg);
    transform: skewX(-15deg);
    background: #db4220;
    background: -webkit-linear-gradient(top, #db4220 0%, #d33c22 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#db4220), to(#d33c22));
    background: linear-gradient(to bottom, #db4220 0%, #d33c22 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db4220', endColorstr='#d33c22',GradientType=0 );
    margin: 0 15px;
    cursor: pointer;
}

.wbl-auth-personal-wrapper {margin: -10px 0 7px 0;}
.wbl-auth-personal {text-align: left;}
.wbl-auth-personal [class^="icon"] {margin-top: -7px;}
.wbl-auth-personal a {font-family: 'Bender'; font-size: 18px; font-weight: 600; font-style: italic; color: #3a3c40}
.wbl-auth-personal a:hover {color: #db4220;}

.topbar__nav-list-item:after {
    margin: 0 10px!important;
}

.bx-newslist-container {
padding: 0!important;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
    background: #ffffff;
    flex: auto;
   /*width: 25%;*/
}

.bx-newslist .row {
    display: flex;
    flex-flow: wrap;
}

.filters__top {
    background: #FFF!important;
    padding: 5px 0px 25px!important;
}

.filters__tags {
    display: inline-block;
}

.filter-tag__checkbox:checked ~ .btn-white .icon-check-round-gray {
    background: #EA2B21;
}

.filter-tag__checkbox:checked ~ .btn-white .icon-check-round-gray:before {
    background: #7be55e;

}

.bx-newslist .btn {
    font-family: 'Bender', Arial, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 700;
    font-style: italic;
    margin-left: 14px;
    padding: 15px 20px;
    border-radius: 12px 12px 12px 0;
    -webkit-transform: skewX(-15deg);
    -ms-transform: skewX(-15deg);
    transform: skewX(-15deg);
    background: #db4220;
    background: -webkit-linear-gradient(top, #db4220 0%, #d33c22 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#db4220), to(#d33c22));
    background: linear-gradient(to bottom, #db4220 0%, #d33c22 100%);
    color: #fff;
    margin-top: 15px;
    border: none;
    float: left;
}

.bx-newslist-img {
    padding-top: 5px;
}

.bx-newslist-img img {
    height: 300px;
}

section#articles {
    display: flex;
    flex-flow: wrap;
}

#articles .item {
    height: auto!important; 
    flex: auto;
    display: flex!important;
    flex-direction: column;
    justify-content: space-between;
}

.pic a > img {
    width: 100%;
    width: -webkit-fill-available;
}

a.detail_link {
    font-family: 'Bender', Arial, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 700;
    font-style: italic;
    margin-left: 14px;
    padding: 15px 20px;
    border-radius: 12px 12px 12px 0;
    -webkit-transform: skewX(-15deg);
    -ms-transform: skewX(-15deg);
    transform: skewX(-15deg);
    background: #db4220;
    background: -webkit-linear-gradient(top, #db4220 0%, #d33c22 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#db4220), to(#d33c22));
    background: linear-gradient(to bottom, #db4220 0%, #d33c22 100%);
    color: #fff;
    margin-top: 15px;
    border: none;
    float: left;
    margin-bottom: 15px;
}

#back-top {
    z-index: 99;
}

#articles .item .detail_link:hover {
    text-decoration: none!important;
}

.content-box--about {
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
}

.content-box__left--wide {
    width: 100%!important;
}

.content-box__right--tight {
    width: 100%!important;
}

.video-container {
    display: flex;
    flex-direction: column;
    height: auto!important;
    padding-bottom: 15px!important;
}

.video-container img {
    width: auto;
    height: auto;
}

.content-box.content-box--about {
    display: block;
}

.bx-newsdetail {
    padding-top: 15px;
    padding-bottom: 5px;
    background: #fff;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
}

#paysystem-yandex-form [name="BuyButton"] {
    background: #f53919;
    border-radius: 9px;
    transform: skewX(-12deg);
    font-size: 19px;
    padding: 16px 26px;
    font-family: "Bender", Arial, Verdana, sans-serif;
    font-weight: 700;
    font-style: italic;
    color: #fff;
    margin: 15px 0;
}