div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}
@media (max-width: 1125px) {
	.slick-slide .intro__bg-img1 {
		display: block;
		height: 380px;
		background-size: contain !important;
	}
	.slick-track .intro__holder.slick-slide, .container .single-slide {
		min-height: 410px;
	}
}
@media (max-width: 868px) {
	.slick-slide .intro__bg-img1 {
		height: 300px;
	}
	.slick-track .intro__holder.slick-slide, .container .single-slide {
		min-height: 320px;
	}
}