.cookie-block {
	position: fixed;
	display: block;
	box-shadow: 0 0 40px rgba(144,144,144,0.35);
	bottom: 15px;
	left: 15px;
	max-width: 350px;
	z-index: 999;
	visibility: hidden;
}
.cookie-block-visible {
	visibility: visible;
}
.cookie-block-wrap {
	padding: 30px;
}
.cookie-block-wrap button.cookie-block-icon {
	position: relative;
	opacity: 1;
	top: unset;
	right: unset;
	height: unset;
	margin-top: 15px;
	width: 220px;
}
.cookie-block-icon {
	top: 15px;
	right: 15px;
	position: absolute;
    width: 14px;
    height: 14px;
    background-size: cover;
    cursor: pointer;
	opacity: 0.7;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='11'%3E%3Cg fill='%236A7287'%3E%3Cpath d='M0 .785L.785 0 11 10.215l-.785.785z'/%3E%3Cpath d='M.785 11L0 10.215 10.215 0 11 .785z'/%3E%3C/g%3E%3C/svg%3E");
}
}
.cookie-block-icon:hover {
	opacity: 1;
	-webkit-transition: ease-out 0.3s;
	-moz-transition: ease-out 0.3s;
	-o-transition: ease-out 0.3s;
	transition: ease-out 0.3s;
}
@media (max-width: 1199px) {
	.cookie-block {
		left: 0;
		bottom: 0;
		max-width: 100%;
	}
}
@media (max-width: 575px) {
	.cookie-block-wrap button {
		width: 100%;
	}
}